@import "tailwindcss";

@theme {
  --color-bg: #f1f5f9;
  --color-surface: #ffffff;
  --color-primary: #1e293b;
  --color-accent: #6366f1;
  --color-accent-l: #eef2ff;
  --color-muted: #64748b;
  --color-border: #e2e8f0;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-danger: #ef4444;
  --color-ss: #7c3aed;
  --color-ss-l: #f5f3ff;
  --color-ss-b: #c4b5fd;
  --color-dl-bg: #fffbeb;
  --color-dl-bd: #fcd34d;
  --color-dl-tx: #92400e;
}
